[alias]
	co = checkout
	ci = commit
	st = status
    popular = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count,file"} {print $1 "," $2}'
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[color]
	ui = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[push]
	default = simple
[user]
	name = Michal Zuber
	email = info@nevilleweb.sk
