[alias]
    co = checkout
    cm = checkout master
    ci = commit
    st = status
    sm = submodule
    smu = submodule foreach git pull origin master
    leaderboard = shortlog -sne
    recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    overview = log --all --since='2 weeks' --oneline --no-merges
    popular = !git log --all -M -C --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count,file"} {print $1 "," $2}'
    today = !git log --all --since=00:00:00 --oneline --no-merges --author=${1-$(git config user.email)}
    this-month = !git log --reverse --pretty=format:'%cd  %h  %s' --date=short --no-merges --since=$(date +\"%Y-%m-01\") --author=$(git config user.email)
    last-month = !git log --reverse --pretty=format:'%cd  %h  %s' --date=short --no-merges --since=$(date -d \"$(date +%Y-%m)-01 last month\" \"+%Y-%m-01\") --author=$(git config user.email)
[commit]
    template = ~/.gitmessage
[color]
    ui = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[user]
    name = Michal Zuber
    email = info@nevilleweb.sk
