xscreensaver.mode: blank
xscreensaver.timeout: 0:05:00
xscreensaver.cycle: 0:05:00
xscreensaver.lockTimeout: 0:05:00
xscreensaver.passwdTimeout: 0:00:10
xscreensaver.dpmsEnabled: true
xscreensaver.dpmsQuickoffEnabled: false
xscreensaver.dpmsStandby: 0:06:00
xscreensaver.dpmsSuspend: 0:06:00
xscreensaver.dpmsOff: 0:06:00
xscreensaver.lock: true
xscreensaver.splash: false
xscreensaver.logFile: /home/mike/xscreensaver.log

URxvt.background: black
URxvt.foreground: gray
URxvt.scrollBar_right: true
URxvt.scrollWithBuffer: true
URxvt.saveLines: 5000
URxvt.cursorBlink: true
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Yankable_URLs_.28no_mouse.29
URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.url-select.launcher: chromium
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
